@font-face {
    font-family: 'KCC Eunyoung';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCEunyoung/KCCEunyoung.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCEunyoung/KCCEunyoung.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCEunyoung/KCCEunyoung.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCEunyoung/KCCEunyoung.ttf') format('truetype');
}
